<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--  <app-explore-container name="Tab 1 page"></app-explore-container>-->
  <div class="container">
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="col-sm-6 mx-auto">
          <ion-button
            ion-button block
            size="small"
            expand="full"
            (click)="abirMenu()">
            Mostrar Opciones de Transición
          </ion-button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="col-sm-12">
          <div *ngIf="!transicion">
            <img class="animate__animated"
                 [ngClass]="transicionSeleccionada"
                 src="/assets/img/page-1.png"
                 alt=""
                 (click)="cambiarTransicion()"
            >
          </div>
          <div *ngIf="transicion">
            <img src="/assets/img/page-2.png"
                 class="animate__animated"
                 [ngClass]="transicionSeleccionada"
                 alt=""
                 (click)="cambiarTransicion()"
            >
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>
